<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainchain.jasmine.mapper.RankMapper">
    <resultMap id="FavorResultMap" type="com.rainchain.jasmine.entity.Favorconf">
        <id property="qq" column="qq" jdbcType="VARCHAR"/>
        <result property="favor" column="favor" jdbcType="INTEGER"/>
        <result property="affinity" column="affinity" jdbcType="INTEGER"/>
        <result property="cohesion" column="cohesion" jdbcType="INTEGER"/>
        <result property="favorVersion" column="favorVersion" jdbcType="INTEGER"/>
        <result property="lastTime" column="lastTime" jdbcType="INTEGER"/>
        <result property="trust" column="trust" jdbcType="INTEGER"/>
        <result property="noticeQQ" column="noticeQQ" jdbcType="INTEGER"/>
        <result property="regression" column="regression" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
        <result property="work" column="work" jdbcType="VARCHAR"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    </resultMap>

    <select id="getFavorRankNow" resultMap="FavorResultMap">
        SELECT *
        FROM favorconf
        ORDER BY favor DESC
        LIMIT 10
    </select>

    <select id="getFlRankNow" resultType="com.rainchain.jasmine.entity.Itemconf">
        SELECT *
        FROM itemconf
        ORDER BY fl DESC
        LIMIT 10
    </select>
</mapper>